<html>
    <head>
        <title>Data Library</title>
    </head>
    <body>
    <p>Welcome to data library!</p>
    <h4>Select your type of file to sownload or upload</h4>
    <a href="/video">Videos</a>
    <a href="/image">Images</a>
    <a href="/music">Music</a>
    <a href="/document">Docs</a>
    <a href="/">Home</a>
    <br>
    <p>-----------------------------------------------------------------------------------------------------------------</p>
    <p>Developed by Boppudi Avinash</p>
    </body>
</html>