<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ service_name }}</title>
</head>
<body>
    <h>{{ service_name }}</h>
    <p>----------------------------------------------------------------------------------------------------------------</p>
    {% for pk in pks; file in files %}
        <a href="/video/path/{{ pk }}">{{ file_name }}</a>
        <br>
    {% endfor %}
    <p>----------------------------------------------------------------------------------------------------------------</p>
    <p>Developed by Boppudi Avinash</p>
</body>
</html>