{% load multifor %}
{#{% load filetransfers %}#}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ service_name }}</title>
</head>
<body>
    <b><h>{{ service_name }}</h></b>
    <br>
    <br>
    <a href="upload/">Upload new file</a>
    <br>
    <a href="/">HOME</a>
    <p>----------------------------------------------------------------------------------------------------------------</p>
    {% for pk in pks; file in files %}
{#        {% url upload.views.download_handler pk=upload.pk as fallback_url %}#}
{#        <a href="{% firstof upload.pk|public_download_url fallback_url %}">Download</a>#}
        <a href="/all/path/{{ pk }}">{{ file.name }}</a>
        <br>
    {% endfor %}
    <p>----------------------------------------------------------------------------------------------------------------</p>
    <p>Developed by Boppudi Avinash</p>
</body>
</html>