{% load filetransfers %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
    <script>
        function alertbox() {
            window.alert("Wait until you are redirected to home page...");
        }
    </script>
    <p>------------------------------------------------------------------------------------------------------------------</p>
    <form action="{{ service }}/upload/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_upload_data upload_data %}
        <table>{{ form }}</table>
        <input type="submit" value="Upload" onclick="alertbox()" id="uploading"/>
    </form>
    <p>------------------------------------------------------------------------------------------------------------------</p>
    <p>Developed by Boppudi Avinash</p>
</body>
</html>